.neon-card {
  background: rgba(255, 255, 255, 0.04);
  border: 2px solid #00f0ff;
  box-shadow:
    0 0 15px rgba(0, 240, 255, 0.6),
    0 0 40px rgba(0, 240, 255, 0.3);
  border-radius: 18px;
  padding: 24px;
  color: white;
  transition: all 0.35s ease;
}

.neon-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow:
    0 0 25px rgba(0, 240, 255, 0.9),
    0 0 70px rgba(255, 0, 255, 0.4);
}

.neon-title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 60px;
  color: white;
  text-shadow:
    0 0 10px #00f0ff,
    0 0 30px #ff00ff;
}
.neon-btn {
  padding: 10px 18px;
  border-radius: 10px;
  border: 1px solid rgba(0,240,255,0.6);
  color: white;
  text-decoration: none;
  text-shadow: 0 0 8px rgba(0,240,255,0.8);
  box-shadow: 0 0 20px rgba(0,240,255,0.25);
  transition: all 0.3s ease;
}

.neon-btn:hover {
  box-shadow: 0 0 40px rgba(0,240,255,0.6);
  transform: translateY(-2px);
}









